.header-row {
  margin-bottom: 10px;

  .back-icon { display: inline-block; font-size: 18px; color: #172A33; margin-right: 6px; }
  h2 { margin: 0px; display: inline-block; }
  .edit-icon { display: inline-block; font-size: 18px; margin-left: 20px; }
}

.image-details {
  position: fixed;
  right: -401px;
  width: 400px;
  top: 0px;
  bottom: 0px;
  background-color: #fafafa;
  border-left: solid 1px #D3D3D3;
  transition: right 0.25s ease-in-out;

  &.visible {
    right: 0px;
  }

  .details-header {
    padding: 0px 14px;
    width: calc(100%-10px);
    border-bottom: solid 1px #D3D3D3;
    > * {
      display: inline-block;
    }
    i {
      font-size: 18px;
    }
  }

  .detail-contents {
    overflox-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 62px;
    bottom: 0px;
    padding-bottom: 20px;
  }

  .detail-list {
    font-size: 12px;
    padding: 14px;

    display: table;
    table-layout: fixed;
    width:100%;
    .detail-row {
      display: table-row;
      > * {
        display: table-cell;
      }

      .label {
        font-weight: 700;
        white-space: nowrap;
        padding-right: 10px;
        width: 100px;
      }
      .value {
        word-wrap: break-word;
      }
    }
  }
}

.edit-album-modal {
  .modal-content {
    width: 300px;

    h3 {
      margin: 0px 0px 10px 0px;
    }
    .input-row {
      margin-bottom: 14px;
      input { width: 280px; }
    }
    .button-row {
      height: 32px;
      .delete-button { float: left; }
      button { float: right; }
    }
  }
}
