.album-photos {
  display: flex;
  flex-wrap: wrap;

  .uploading-photo {
    background: #E6EEF2;
    height: 120px;
    width: 220px;
    display: inline-block;
    .inner {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }

  .uploading-photo {
    margin: 0 10px 10px 0;
  }

  .loading-photos, .empty-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 60px);
    .fa { margin: 0 10px; }
  }
}

.edit-album-modal {
  .modal-content {
    width: 300px;

    h3 {
      margin: 0px 0px 10px 0px;
    }
    .input-row {
      margin-bottom: 14px;
      input { width: 280px; }
    }
    .button-row {
      height: 32px;
      .delete-button { float: left; }
      button { float: right; }
    }
  }
}
