
@import "components/album-create-item";
@import "components/album-list-item";
@import "components/file-uploader";
@import "components/modal-wrapper";
@import "components/photo-details-vision";
@import "components/search-field";
@import "components/search-list-item";
@import "animations";
@import "album";
@import "albums";
@import "search";

body, html {
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  line-height: 22px;
  margin: 10px;
  height: calc(100% - 20px);
  color: #172A33;
}

body > [class="ember-view"] { height: 100%; }

.cursor-pointer {
  cursor: pointer;
}

.header-row {
  height: 30px;
  margin-bottom: 10px;

  .back-icon { display: inline-block; font-size: 18px; color: #172A33; margin-right: 6px; }
  h2 { margin: 0px; display: inline-block; }
  .edit-icon { display: inline-block; font-size: 18px; margin-left: 20px; }

  .search-field {
    float: right;
  }
}

.github-link {
  position: fixed;
  bottom: 10px;
  right: 20px;
  a { text-decoration: none; display: flex; color: #172A33; }
  a:hover { opacity: 0.7; }
  .fa { margin-right: 5px; }

}

button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
  cursor: pointer;

  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;

  &:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
  }

  &.disabled, &:disabled {
    cursor: not-allowed;
    opacity: .65;
    background-color: #0275d8;
    border-color: #0275d8;
  }

  &.delete-button{
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;

    &:hover {
      color: #fff;
      background-color: #c82333;
      border-color: #bd2130;
    }

    &.disabled, &:disabled {
      background-color: #d9534f;
      border-color: #d9534f;
    }
  }
}

input {
  display: block;
  width: 250px;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;

  &.disabled, &:disabled {
    cursor: not-allowed;
    background-color: #eceeef;
    opacity: 1;
  }
}
