
@import "components/album-create-item";
@import "components/album-list-item";
@import "components/modal-wrapper";
@import "albums";

body, html {
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  line-height: 22px;
  margin: 10px;
}
