<h2>Albums</h2>

<div class="album-list">
  {{album-create-item on-click=(action "showCreateAlbum")}}
  {{#each albums as |album|}}
    {{#link-to "album" album.id}}
      {{album-list-item album=album}}
    {{/link-to}}
  {{/each}}
</div>

{{#modal-wrapper visible=isCreatingAlbum on-close=(action "hideCreateAlbum")}}
  {{input value=newAlbumName}} <button {{action "createAlbum"}}>Create</button>
{{/modal-wrapper}}
