<h2>Album</h2>

{{input value=newAlbumName}} <button {{action "createAlbum"}}>Create</button>


<ul>
  {{#each model as |album|}}
    <li>{{album.name}} <button {{action "deleteAlbum" album}}>X</button></li>
  {{/each}}
</ul>
