<h2>Album</h2>

{{input value=newAlbumName}} <button {{action "createAlbum"}}>Create</button>

<ul>
  {{#each albums as |album|}}
    <li>
      {{#link-to "album" album.id}}{{album.name}}{{/link-to}}
    </li>
  {{/each}}
</ul>
