{{yield}}

<div class="drop-zone {{if showDropZone 'visible'}}">
  <div class="global-dropzone-overlay"></div>
    <div class="outer-msg-wrapper">
      <div class="inner-msg-wrapper">
        <h2>Drop files to upload</h2>
      </div>
    </div>
</div>
