.file-uploader .drop-zone {
  height: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &.visible {
    height: 100%;
    opacity: 1;
    .outer-msg-wrapper { display: table; }
  }
  .outer-msg-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    display: none; /* Normally `display: table` */
  }
  .inner-msg-wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  h2 {
    color: #FFF;
    line-height: 50px;
    font-size: 45pt;
  }
  h2, h3 {
    z-index: -1;
    font-weight: 700;
    margin: 16px 0;
    text-shadow: 3px 3px 4px #0A1d26;
  }
  .global-dropzone-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: none repeat scroll 0 0 #424242;
    opacity: 0.8;
  }
}
