.photo-list-item {
  cursor: pointer;
  margin: 0 10px 10px 0;
  max-height: 120px;

  .photo-placeholder {
    width: 160px;
    min-height: 120px;
    height: 100%;
  }

  &.square {
    max-height: 160px;

    .placeholder { width: 160px; height: 160px; }
  }
}
