$details-background: #FAFAFA;
$border-color: #D3D3D3;

.photo-details {
  position: fixed;
  right: -401px;
  width: 400px;
  top: 0px;
  bottom: 0px;
  background-color: $details-background;
  border-left: 1px solid $border-color;
  transition: right 0.25s ease-in-out;

  &.visible {
    right: 0px;
  }

  .details-header {
    padding: 0px 14px;
    width: calc(100%-10px);
    border-bottom: 1px solid $border-color;
    > * {
      display: inline-block;
    }
    .close-button {
      font-size: 18px;
      cursor: pointer;
    }
    .refresh-button {
      font-size: 18px;
      cursor: pointer;
      float: right;
      margin: 15px 5px 0 0;
    }
    .docking-arrow {
      font-size: 18px;
      cursor: pointer;
      float: right;
      margin: 23px 14px 0 0;

      i {
        height: 13px;
        width: 13px;
        transform: rotate(225deg);
        font-size: 20px;
      }

      &.is-docked {
        margin: 14px 14px 0 0;
        i { transform: rotate(45deg); }
      }
    }
  }

  .detail-contents {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 53px;
    bottom: 0px;
    padding-bottom: 20px;
  }

  .details-image {
    padding: 10px 14px;
    position: relative;
    width: 372px;
    background: $details-background;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;

    .photo-placeholder {
      width: 100%;
      height: 240px;
    }
    .hpis-image {
      max-height: 240px !important;
      max-width: 372px;
      margin: auto;
      display: block;
    }

    &.is-docked {
      position: fixed;
      right: 400px;
      bottom: 0px;
      border: 1px solid $border-color;

      width: 572px;
      .photo-placeholder {
        height: 400px
      }
      .hpis-image {
        max-height: 400px !important;
        max-width: 572px;
      }
    }
  }

  .detail-list {
    font-size: 12px;
    padding: 14px;

    display: table;
    table-layout: fixed;
    width:100%;
    .detail-row {
      display: table-row;
      > * {
        display: table-cell;
      }

      .label {
        font-weight: 700;
        white-space: nowrap;
        padding-right: 10px;
        width: 100px;
      }
      .value {
        word-wrap: break-word;
      }
    }
  }
}
