.search-list-item {
  border: 1px solid #69818C;
  max-width: 160px;

  .album-link {
    display: block;
    width: calc(100%-16px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0px 8px 8px 8px;
  }
}
